body {
  background-color: #87ab08;
  scroll-behavior: smooth;
}

.front-card,
.card-back {
  background-color: #f8f0e3;
  border-radius: 10px;
  max-height: 675px;
  max-width: 600px;
  min-width: 400px;
}

.card-back {
  overflow-y: scroll;
  padding: auto;
  border-radius: 10px;
}

.card-back::-webkit-scrollbar {
  width: 2em;
}

.card-back::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card-back::-webkit-scrollbar-thumb {
  background-color: #52cc7a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-image: url("https://stickershop.line-scdn.net/stickershop/v1/product/1358278/LINEStorePC/main.png;compress=true");
  background-position: center center;
  background-size: 4rem;
  background-repeat: no-repeat;
}

.restaurant-list-ul {
  padding: 60px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  height: 300px;
  padding: "25px";
  border-radius: "5px";
}

.text-area {
  text-align: center;
  padding-bottom: 25px;
}

.btn {
  width: 4vw;
  height: 3vh;
  background-color: #52cc7a;
  margin-left: 5px;
  border-radius: 10px;
}

.btn:active {
  transform: scale(0.98);
}

.header {
  margin-left: 43vw;
  text-shadow: 0 0 15px #d2691e;
  font-size: 5rem;
  color: #f8f0e3;
}

.logo {
  height: 7rem;
  width: 7rem;
  margin-right: 55vw;
  float: right;
  margin-top: -12vh;
}

.foodPicture {
  margin-left: 39vw;
}

.isIt {
  font-size: 2rem;
  margin-left: 29vw;
  margin-top: -10vh;
  text-shadow: 0 0 15px #d2691e;
  color: #f8f0e3;
}

.you {
  font-size: 2rem;
  margin-left: 58vw;
  margin-top: -7vh;
  text-shadow: 0 0 15px #d2691e;
  color: #f8f0e3;
}

.search-bar {
  height: 40px;
  width: 25%;
  font-size: 22px;
  padding: 10px;
  outline: none;
  border-radius: 7px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  margin-left: 35vw;
  margin-top: 6vh;
}

.restaurantName {
  color: #6666cc;
  text-shadow: -1px 0 #202020, 0 1px #202020, 1px 0 #202020, 0 -1px #202020;
}

.comment-text {
  padding: 4px;
  font-size: 25px;
}

.comment-time {
  padding: 4px;
  margin-top: -22px;
  font-size: 13px;
}

.new-review-input {
  height: 30px;
  width: 45%;
  font-size: 22px;
  padding: 5px;
  outline: none;
  border-radius: 7px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  margin-left: 6vw;
  margin-top: -5vh;
  color: #004617;
  font-weight: bold;
}

.add-review-btn {
  margin-top: 5px;
  display: table;
  margin-left: 18rem;
  border-radius: 7px;
  background-color: #52cc7a;
}

.hide-review-btn {
  border-radius: 7px;
  margin-left: 180px;
  margin-top: -21px;
  display: table;
  background-color: #52cc7a;
}

.add-review-btn:active {
  transform: scale(0.98);
}

.hide-review-btn:active {
  transform: scale(0.98);
}
