body {
  background-color: #87ab08;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  color:red;
}

.front-card,
.card-back {
  background-color: #f8f0e3;
  border-radius: 10px;
}

.card-back {
  overflow-y: scroll;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: "25px";
  max-height: 540px;
  border-radius: 10px;
}
/* .card-back::-webkit-scrollbar-track-piece {
  color:red;
} */
.restaurant-list-ul {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  height: 300px;
  padding: "25px";
  border-radius: "5px";
}

.text-area {
  text-align: center;
  padding-bottom: 25px;
}

.comment-section {
  text-align: center;
  align-items: center;
}

.btn {
  justify-content: space-between;
  justify-self: center;
  background-color: #91c595;
  margin-left: 8px;
  padding: 8px;
}

/* .comment-text {
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
} */